/* Fonts */
.font1 { font-family: 'Volkhov', serif;}
.font2 { font-family: 'Oswald', sans-serif;}
.font3 { font-family: 'Montserrat', sans-serif;}


#SCactive {
    background: #000;
    color: #ff6600 !important;
}

.sco1 {
    color: #FF6600 !important;
}

.sco1bg {

    background-color: #FF6600 !important;
    color: black;
}

.sco2 {
    color: #b34700 !important;
}

.scp1bg {
    background-image: url(Images/Index/scp1bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.scp1bg2 {
    background-image: url(Images/Index/scp1bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 30px;
}

.scp1 {
    color: #330065 !important;
}

.scp2 {
    color: #2e005b !important;
}

.scb1 {
    color: #663332 !important;
}

.scb2bg {
    background-color: #482424;
    color: #ff6600 !important;
}

.scb2 {
    color: #482424 !important;
}

nav ul a,
nav .brand-logo {
    color: #000;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #000;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.pb7 {
    padding-bottom: 7px;
}

.pb20 {
    padding-bottom: 20px;
}

.plr {
    padding: 0px 35px 0px 35px
}

.mt3 {
    margin-top: 3px;
}

.ml10 {
    margin-left: 10px;
}


#dropdown1,
#dropdown2,
#dropdown3,
#dropdown4,
#dropdown5,
#dropdown0 {
    margin-top: 68px;
    text-align: center;

}

.btnfoot {
    background-color: #ff6600;
    color: black;
    height: 40px;
    margin-top: 10px;
    border-radius: 30px;
    width: 20vw;
}

.btnfoot2 {
    background-color: #ff6600;
    color: black;
    width: 250px;
    border-radius: 30px;
    height: 50px;
    margin-top: 15px;
}

.btnfoot:hover, .btnfoot2:hover {
  background-color: #b34700;
}
.shadowtest {
    box-shadow: 0px 8px 0px 0px #ff6600;
    border-radius: 30px;
}

.shadowtext {
    text-shadow: 0px 0px 0px #2e005b;
}